<h1>Productos en Tiempo Real</h1>

<form id="productForm">
    <input type="text" id="productName" placeholder="Nuevo Producto" required>
    <button type="submit">Añadir Producto</button>
</form>

<ul id="productList">
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>